body,
html {
  height: 100%;
  margin: 0;
}

form {
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
  }

  input {
    all: unset;
    font: 16px system-ui;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color:  gray;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: black;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  header {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato";
}

header::before {    
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/Background2.jpg");
    background-size: cover;
    opacity: 0.6;
    background-color: rgba(0,0,0,0);
}

h1 {
  position: relative;
  color: black; 
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
}
header h3 {
  position: relative;
  color: black; 
  line-height: 0.9;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 300px;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: -276px;
  margin-right: -276px;
}



nav h2 {
  margin-left: 10px; /* Adjust the spacing as needed */
}

nav form {
  flex-grow: 1;
  margin: 0 140px; /* Adjust the spacing as needed */
}

nav form input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

nav form button {
  border: none;
  cursor: pointer;
}

nav a {
  color: black; /* Adjust the color of the links as needed */
  text-decoration: none;
  margin: 0 10px; /* Adjust the spacing as needed */
}

nav a:hover {
  text-decoration: underline;
}

.row {
  display: flex;
  flex-direction: row;
}



/*
Flugvélin
*/
 .boxes{
  font-family: "Lato";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
 }
 
 .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; 
  background-color: #ffffff;
}

/*
Takki
*/
 .view-products {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6F4E37;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
 .view-products:hover {
  background-color: #555;
}
 
/*
Nokkrar af nýjustu vörunum okkar kaflinn
*/
.products-section {
  font-family: "Lato";
  text-align: center;
  padding: 40px 0;
  background-image: url("../images/Background1.jpg");
  background-size: cover;
}


.product-card {
  display: inline-block;
  border: 1px solid #eee;
  margin: 0 20px;
  padding: 20px;
  width: 220px; /* adjust as necessary */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #fff;
}


.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border: 5px solid #eee;
}



footer {
  background-color: #3C2A1E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer h2 {
  color: #FEFEFE;
  font-family: "Lato";
}

footer ul li {
  color: #FFFFFF;
  list-style-type: none;
  font-family: "Lato";
}

footer .footer-copyright {
  text-align: center;
  color: #FFFFFF;
  font-family: "Lato";
 }

 .footer-sections {
  display: flex;
  justify-content: space-between;
  align-items: start; /* Aligns sections to the top if they have different heights */
  padding: 0 20px; 
 }
 
/*Leturgerðir*/
@font-face {
  font-family: "Lato";
  src: url(fonts\Lato);
}