body,
html {
  height: 100%;
  margin: 0;
}

form {
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
  }

  input {
    all: unset;
    font: 16px system-ui;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color:  gray;
    opacity: 0.7; 
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: black;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .bg {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/Background2.jpg");
    background-size: cover;
    font-family: "Lato";
}

.bg::before {    
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}

h1 {
  position: relative;
  color: #ffffff;  
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
}

footer {
  background-color: #3C2A1E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer h2 {
  color: #FEFEFE;
  font-family: "Lato";
}

footer ul li {
  color: #FFFFFF;
  list-style-type: none;
  font-family: "Lato";
}

footer .footer-copyright {
  text-align: center;
  color: #FFFFFF;
  font-family: "Lato";
 }

 .footer-sections {
  display: flex;
  justify-content: space-between;
  align-items: start; /* Aligns sections to the top if they have different heights */
  padding: 0 20px; 
 }


 .boxes{
  font-family: "Lato";
  display: flex;
  justify-content: center;

 }

 .view-products {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6F4E37;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
 .view-products:hover {
  background-color: #555;
}
 

/*Leturgerðir*/
@font-face {
  font-family: "Lato";
  src: url(fonts\Lato);
}